* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input {
  background-color: transparent;
  outline: none;
}
// body {
//   //   background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
// }
body {
  //   background-color: #5c63f0aa;
  background: rgb(174, 238, 222);
  background: linear-gradient(
    90deg,
    rgba(174, 238, 222, 1) 0%,
    rgba(227, 247, 241, 1) 0%,
    rgba(246, 246, 195, 0.9304096638655462) 100%
  );
  font-family: "Poppins";
  background-image: url("https://www.teahub.io/photos/full/362-3620272_dark-blue-texture-background-darkness.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* // 61dafbaa */
  scroll-behavior: smooth;
  overflow-x: hidden;
  transition: 0.6s all;
  &::-webkit-scrollbar {
    width: 16px;
    background-color: #527fc7;
  }
  &::-webkit-scrollbar-thumb {
    width: 14px;
    background-color: #3e5ff5;
    border-radius: 0.6ex;
  }
}
* {
  scroll-behavior: smooth;
}
button,
input {
  font-family: "Poppins";
  outline: none;
  border: none;
  border-radius: 1ex;
}
.uNull {
  width: 100%;
  height: 70vh;
  text-align: center;
  font-size: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: aliceblue;
  background: -webkit-linear-gradient(
    -120deg,
    #4285f4,
    #1fc74c,
    #fbbc05,
    #f52714
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sg {
  position: absolute;
  width: 100%;
  display: flex;
  bottom: 40%;
  justify-content: center;
}
header {
  background-image: linear-gradient(
    90deg,
    #667eeaa4,
    #667eea,
    #6b8dd6,
    #667eeaa4
  );
  box-shadow: 0 4px 15px 0 #744fa8bf;

  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 50px;
  .title {
    h1 {
      font-size: 30px;
      color: #fff;
      font-weight: 777;

      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }
}
.logOut {
  margin-right: 30px;
  button {
    cursor: pointer;
    transition: 0.3s;
    border: none;
    outline: none;
    background-color: #667eeaa4;
    color: #fff;
    border-radius: 1ex;
    padding: 8px 15px;
    font-weight: 665;
    &:hover {
      background-color: #222;
    }
  }
}
.mC {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.message {
  border-radius: 2.3ex 2.3ex 2.3ex 0ex;
  float: left;
  margin: 5px;
  padding: 10px;
  margin-right: 750px;
  width: 200px;
  max-width: 300px;
  background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 #17a86cbf;

  .name {
    font-weight: 766;
    color: aliceblue;
    position: relative;
    font-family: "Mansalva";
    top: -6.5px;
    font-size: 16px;
  }
}
.myMessage {
  border-radius: 2.3ex 2.3ex 0ex 2.3ex;

  margin: 5px;
  width: 200px;
  float: right;
  padding: 10px;
  margin-left: 750px;
  max-width: 300px;
  background-image: linear-gradient(
    to right,
    #eb3941,
    #f15e64,
    #e14e53,
    #e2373f
  );
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);

  .name {
    font-weight: 666;
    color: aliceblue;
    position: relative;
    top: -6.5px;
    font-family: "Mansalva";
    font-size: 16px;
  }
}
.sendMessage {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    margin-right: 5px;
    background-color: #222;
    padding: 10px 7px;
    width: 350px;
    color: aliceblue;
    font-family: "Poppins";
  }
  button {
    margin-left: 0px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 555;
    padding: 10px 7px;
    cursor: pointer;
    background-color: rgba(236, 116, 148, 0.89);
    color: aliceblue;
  }
}

.myMessage,
.message {
  .avatar {
    width: 20%;
    border-radius: 100%;
    position: absolute;
    left: -20px;
  }
  position: relative;
  animation: enterM cubic-bezier(0.19, 0.89, 0.92, 0.7) 0.4s;
  @keyframes enterM {
    0% {
      opacity: 0.4;
      transform: scale(0.5);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  textarea {
    resize: none;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 3px;
    font-family: "Roboto";
    word-wrap: break-word;
    color: #fff;
    &:disabled {
      color: #fff;
    }
    height: 30px;
    max-width: 100%;
    min-width: 185px;
    max-height: 400px;
    min-height: 30px;
    &::-webkit-scrollbar {
      width: 8px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      width: 1px;
      background-color: #d3ba48;
      border-radius: 1ex;
    }
    &::-webkit-scrollbar-track {
      border-radius: 1ex;

      margin-left: 3px;
      background-color: transparent;
    }
  }
  .textarea {
    resize: auto;
  }
}

.chat-container {
  width: 80%;
  margin: 50px auto;
  //   max-height: 70vh;
  //   overflow: auto;
}
.Embtn {
  background-color: transparent !important;

  width: 20px;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 39%;
  height: 10vh !important;
  &* {
    font-size: 30px;
  }
}
.emojisN {
  margin-bottom: 370px;
  border-radius: 2ex;
  margin-left: -160px;

  opacity: 0;
  transform: scale(0.9) translateY(-70px);

  pointer-events: none;
  border-radius: 100%;
  transition: 0.3s;
  height: 0;
}
.emojis {
  pointer-events: all;
  height: 40vh;
  opacity: 1;
  transform: scale(1);
}

.emojis,
.emojisN {
  transition: 0.4s;

  margin-bottom: 370px;
  border-radius: 2ex;
  margin-left: -160px;
  .emG {
    border-radius: 2ex;
    display: grid;
    grid-template-columns: repeat(10, 20px);
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 240px;
    max-height: 300px;
    gap: 2.4px;
    &::-webkit-scrollbar {
      width: 15px;
      background-color: #6c61ccce;
      border-radius: 1.4ex;
      cursor: pointer;
    }
    &::-webkit-scrollbar-thumb {
      width: 10px;
      border-radius: 1ex;
      background-color: #518ae5;
      cursor: pointer;
    }
    .em {
      cursor: pointer;
    }
  }
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 15vh !important;
}

.spinner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3cba92;
  background-image: url("https://www.teahub.io/photos/full/362-3620272_dark-blue-texture-background-darkness.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.5);
}
// EVENTS
.events {
  width: 90px;
  height: 14vh;
  border-radius: 1.1ex;
  display: flex;
  align-items: center;

  position: absolute;
  z-index: 2;
  flex-direction: column;
  top: -40px;
  right: -70px;
  background-image: linear-gradient(
    109.6deg,
    rgb(92, 191, 224) 23.2%,

    #667eea 31.2%
  );

  .smS {
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
    padding: 4px;
    margin-right: 2px;
    font-weight: 500;
    font-family: "Mansalva";
    display: flex;
    align-items: center;
    color: rgb(59, 36, 36);
    span {
      font-size: 18px;
      margin-left: 5px;
      color: azure;
    }
  }
  transition: 0.4s;
}
.eventsN {
  pointer-events: none;
  width: 90px;
  height: 14vh;
  border-radius: 0.1ex;
  display: flex;
  align-items: center;
  position: absolute;
  flex-direction: column;
  top: -40px;
  right: 0px;
  background-image: linear-gradient(
    109.6deg,
    rgba(72, 66, 93, 0.548) 31.2%,

    rgba(72, 66, 93, 0.509) 31.2%,

    rgba(72, 66, 93, 0.419) 31.2%
  );

  .smS {
    cursor: pointer;
    background-color: transparent;
    font-size: 12px;
    padding: 3px;
    font-weight: 666;
    display: flex;
    align-items: center;

    color: rgb(174, 238, 222);
  }
  transition: 0.4s;

  transform: scale(0.6);
  opacity: 0;
}
.changed {
  transform: 0.3s;
  background-color: #c4ac4c !important;
  transform: scale(1.07);
}
//
.reply {
  position: relative;
  button {
    cursor: pointer;
    position: absolute;
    background: transparent;
    left: -32px;
    top: 20px;
  }
}
.rM {
  display: flex;
  position: relative;
  .rMsgM {
    position: absolute;
    width: 250px;
    bottom: 5px;
    left: 191px;
    background: rgba(94, 95, 74, 0.388);
    max-height: 20vh;
    overflow-y: auto;
    border-radius: 1ex;
    &::-webkit-scrollbar {
      width: 10px;
      background-color: aliceblue;
      border-radius: 0.5ex;
    }
    &::-webkit-scrollbar-thumb {
      width: 8px;
      background-color: #485563;
    }
    h2 {
      font-size: 15px;
      color: rgb(245, 227, 227);
      letter-spacing: 0.1em;
      padding: 4px;
    }
    p {
      padding: 4px;
      letter-spacing: 0.09em;
      font-weight: 555;
      color: #fff;
      max-width: 250px;
      word-wrap: break-word;
    }
    span {
      cursor: pointer;
      position: absolute;

      right: 158px;
      bottom: -5px;
      font-size: 22px;
      color: #1fc74c;
    }
  }
  .rMsgS {
    position: absolute;
    width: 410px;
    padding: 7px;
    border-radius: 2ex;
    background-image: linear-gradient(
      to right,
      #29323c,
      #485563,
      #485563,
      #29323c
    );
    max-height: 20vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 10px;
      background-color: aliceblue;
      border-radius: 0.5ex;
    }
    &::-webkit-scrollbar-thumb {
      width: 8px;
      background-color: #485563;
    }
    box-shadow: 0 4px 15px 0 rgba(51, 69, 92, 0.75);
    bottom: 55px;
    left: 16px;
    h2 {
      font-size: 15px;
      color: rgb(255, 255, 255);
      letter-spacing: 0.1em;
    }
    p {
      letter-spacing: 0.09em;
      font-weight: 555;
      color: rgb(220, 229, 183);
      max-width: 250px;
      word-wrap: break-word;
    }
    span {
      cursor: pointer;
      display: flex;
      justify-content: right;

      right: 8px;
      bottom: -1px;
      font-size: 22px;
      color: #1fc74c;
    }
  }
}

.time {
  text-align: right;
  height: 1.5vh;
}
